  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-6 footer__img footer__item">
        <img src="assets/img/_src/logo.png" alt="">
      </div>
      <div class="col-lg-auto col-md-6 footer__menu footer__item to-hidden">
        <ul class="footer__ul">
          <li><a routerLink="">Главная</a></li>
          <li><a routerLink="news">Новости</a></li>
          <li><a routerLink="contacts">Контакты</a></li>
          <li><a routerLink="sertificats">Сертификаты</a></li>
        </ul>
      </div>
      <div class="col-lg-auto col-md-6 footer__item to-hidden">
        <ul class="footer__ul">
          <li><a routerLink="catalog">Вареные колбасы и ветчины</a></li>
          <li><a routerLink="catalog">Сосиски с сардельки</a></li>
          <li><a routerLink="catalog">Варено-копченые и полукапченые колбасы</a></li>
          <li><a routerLink="catalog">Сырокопченые и сыровяленые колбаски</a></li>
          <li><a routerLink="catalog">Заливные, ливер, субпродукты</a></li>
        </ul>
      </div>
      <div class="col-lg-auto col-md-6 footer__item to-hidden">
        <ul class="footer__ul">
          <li><a routerLink="catalog">Деликатесы и копчености</a></li>
          <li><a routerLink="catalog">Шашлык</a></li>
          <li><a routerLink="catalog">Консервы</a></li>
          <li><a routerLink="catalog">Полуфабрикаты замороженные</a></li>
        </ul>
      </div>
      <div class="col-xl-auto col-lg-12 col-sm-6 footer__item">
        <ul class="footer__ul">
          <li class="header__address list__item-img footer__item-list">г. Москва, ул. Петровская, д. 135<br> корпус 13.</li>
          <li class="header__phone list__item-img footer__item-list">+7 916 123-45-67</li>
          <li class="header__mail list__item-img footer__item-list">Mail@mail.ru</li>
        </ul>
      </div>
    </div>
  </div>
