$standart-color: #8a244c;

.menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  border-top: 1px solid gray;
  overflow: hidden;

  &__item {
    position: relative;
    display: inline-block;

    & a {
      transition: all 0.5s ease;
      &:hover {
        text-shadow: 2px 2px 2px #9c9998;
        color: $standart-color;
        text-decoration: none;
      }
    }
  }

  &__link {
    display: block;
    font-size: 16px;
    padding: 10px 5px;
    text-decoration: none;
    color: black;
    position: relative;


    &>span {
      position: relative;
      font-family: 'corbel-bold';
      font-weight: 700;
      text-transform: capitalize;
      font-size: 15px;
    }
  }
}

.menu-mobile {
  display: none;

  &__bar {
    position: relative;
    width: 85px;
    height: 23px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    &:focus {
      outline: none;
    }

    &>span {
      position: absolute;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: #000;
      cursor: pointer;
    }

    &>p {
      text-align: right;
    }
  }

  &__bar-1 {
    top: 0;
  }

  &__bar-2 {
    top: 10px;
  }

  &__bar-3 {
    top: 20px;
  }
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;

    li {
      display: block;

      a:after {
        bottom: 10px;
        left: 23px;
      }
    }
  }
  .menu-mobile {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .menu,
  .menu__item{
    margin: 0 -15px;
    padding: 0 15px;
    & li:hover {
      background-color: #00000021;
    }
  }
}


